.navbar-brand {
  background: #4aaaa5;
}

.auth-image{
  width: 100%;
}

.navbar-default {
  background-color: #4aaaa5;
}

.panel-body {
  padding: 15px;
  background: #fff;
}

#copyright {
  text-align: center;
}

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}
 
